.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.new-incident-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between; /*Joga a section para a esquerda e o formulário para direita, colocando um espaço entre eles*/
  align-items: center;
}

/* Section */
.new-incident-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-incident-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-incident-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

/* Form */
.new-incident-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-incident-container .content form input,
.new-incident-container .content form textarea {
  margin-top: 8px;
}

/***************************************************************************************************************************************/
/**************************************************************Dark Mode****************************************************************/

/* Media query */
/* Utiliza a configuração atual do dispositivo (celular/computador) com relação ao dark mode */
@media (prefers-color-scheme: dark) {
  .new-incident-container .content {
    background: #242424;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  }

  .new-incident-container .content section,
  .new-incident-container .content section img,
  .new-incident-container .content section h1,
  .new-incident-container .content section p,
  .new-incident-container .content form,
  .new-incident-container .content form input,
  .new-incident-container .content form textarea,
  .new-incident-container .content form .input-group {
    background: #242424;
  }

  .new-incident-container .content section p,
  .new-incident-container .content form input::placeholder,
  .new-incident-container .content form textarea::placeholder {
    color: #c2c2c5;
  }

  /* Link */
  .new-incident-container .content section a,
  .new-incident-container .content section a svg {
    background-color: #242424;
  }

  .new-incident-container .content section a svg {
    color: #e02041;
  }
}
